In [28]:
import csv, json, codecs, uuid
import pandas as pd
import numpy as np

In [11]:
datafile = 'Meteorite_Landings.csv'

## cleaning data file

In [16]:
df = pd.read_csv(datafile,  encoding = "ISO-8859-1")
df

,name,id,mass (g),year,reclat,reclong
0,Aachen,1,21.0,01/01/1880 12:00:00 AM,50.77500,6.08333
1,Aarhus,2,720.0,1/1/51 0:00,56.18333,10.23333
2,Abee,6,107000.0,1/1/52 0:00,54.21667,-113.00000
3,Acapulco,10,1914.0,1/1/76 0:00,16.88333,-99.90000
4,Achiras,370,780.0,1/1/02 0:00,-33.16667,-64.95000
5,Adhi Kot,379,4239.0,1/1/19 0:00,32.10000,71.80000
6,Adzhi-Bogdo (stone),390,910.0,1/1/49 0:00,44.83333,95.16667
7,Agen,392,30000.0,01/01/1814 12:00:00 AM,44.21667,0.61667
8,Aguada,398,1620.0,1/1/30 0:00,-31.60000,-65.23333
9,Aguila Blanca,417,1440.0,1/1/20 0:00,-30.86667,-64.55000
10,Aioun el Atrouss,423,1000.0,1/1/74 0:00,16.39806,-9.57028
11,AÌør,424,24000.0,1/1/25 0:00,19.08333,8.38333
12,Aire-sur-la-Lys,425,NaN,01/01/1769 12:00:00 AM,50.66667,2.33333
13,Akaba,426,779.0,1/1/49 0:00,29.51667,35.05000
14,Akbarpur,427,1800.0,01/01/1838 12:00:00 AM,29.71667,77.95000
15,Akwanga,432,3000.0,1/1/59 0:00,8.91667,8.43333
16,Akyumak,433,50000.0,1/1/81 0:00,39.91667,42.81667
17,Al Rais,446,160.0,1/1/57 0:00,24.41667,39.51667
18,Al Zarnkh,447,700.0,1/1/01 0:00,13.66033,28.96000
19,Alais,448,6000.0,01/01/1806 12:00:00 AM,44.11667,4.08333
20,Albareto,453,2000.0,01/01/1766 12:00:00 AM,44.65000,11.01667
21,Alberta,454,625.0,1/1/49 0:00,2.00000,22.66667
22,Alby sur ChÌ©ran,458,252.0,1/1/02 0:00,45.82133,6.01533
23,Aldsworth,461,700.0,01/01/1835 12:00:00 AM,51.78333,-1.78333
24,Aleppo,462,3200.0,01/01/1873 12:00:00 AM,36.23333,37.13333
25,Alessandria,463,908.0,01/01/1860 12:00:00 AM,44.88333,8.75000
26,Alexandrovsky,465,9251.0,1/1/00 0:00,50.95000,31.81667
27,Alfianello,466,228000.0,01/01/1883 12:00:00 AM,45.26667,10.15000
28,Allegan,2276,32000.0,01/01/1899 12:00:00 AM,42.53333,-85.88333
29,Allende,2278,2000000.0,1/1/69 0:00,26.96667,-105.31667
...,...,...,...,...,...,...
45686,Ysleta,30375,140700.0,1/1/14 0:00,31.65000,-106.18333
45687,Yucca 015,57175,3.0,1/1/11 0:00,34.81970,-114.27610
45688,Yucca 016,57158,25.9,1/1/11 0:00,34.82658,-114.27763
45689,Yucca 017,57159,200.0,1/1/11 0:00,34.81923,-114.27735
45690,Yudoma,30376,7600.0,1/1/46 0:00,60.00000,140.00000
45691,Zacatecas (1792),30381,1000000.0,01/01/1792 12:00:00 AM,22.81667,-102.56667
45692,Zacatecas (1969),30382,6660.0,1/1/69 0:00,NaN,NaN
45693,Zaffra,30383,3000.0,1/1/19 0:00,35.00000,-94.75000
45694,Zag (b),30385,300.0,1/1/99 0:00,27.33333,-9.33333
45695,Zagora,30387,50000.0,1/1/87 0:00,30.36667,-5.85000
45696,Zakâodzie,30390,8680.0,1/1/98 0:00,50.76278,22.86611
45697,Zapaliname,30392,85000.0,1/1/98 0:00,25.00944,-100.75000
45698,Zapata County,30393,NaN,1/1/30 0:00,27.00000,-99.00000
45699,ZapotitlÌÁn Salinas,30394,27.7,1/1/84 0:00,18.33333,-97.50000
45700,Zaragoza,48916,162000.0,NaN,41.65000,-0.86667
45701,Zegdou,30398,6700.0,1/1/98 0:00,29.75000,-4.50000
45702,Zelfana,31353,1058.0,1/1/02 0:00,32.15833,4.63333
45703,Zenda,30400,3700.0,1/1/55 0:00,42.51333,-88.48944
45704,Zerga,30402,76.0,1/1/73 0:00,20.25000,-12.68333
45705,Zerhamra,30403,630000.0,1/1/67 0:00,29.85861,-2.64500
45706,Zerkaly,31354,16000.0,1/1/56 0:00,52.13333,81.96667
45707,Zhaoping,54609,2000000.0,1/1/83 0:00,24.23333,111.18333
45708,Zhigansk,30405,900000.0,1/1/66 0:00,68.00000,128.30000
45709,Zhongxiang,30406,100000.0,1/1/81 0:00,31.20000,112.50000
45710,Zillah 001,31355,1475.0,1/1/90 0:00,29.03700,17.01850
45711,Zillah 002,31356,172.0,1/1/90 0:00,29.03700,17.01850
45712,Zinder,30409,46.0,1/1/99 0:00,13.78333,8.96667
45713,Zlin,30410,3.3,1/1/39 0:00,49.25000,17.66667
45714,Zubkovsky,31357,2167.0,1/1/03 0:00,49.78917,41.50460
45715,Zulu Queen,30414,200.0,1/1/76 0:00,33.98333,-115.68333

In [18]:
dropped = df.dropna(axis=0, how='any')
dropped

,name,id,mass (g),year,reclat,reclong
0,Aachen,1,21.0,01/01/1880 12:00:00 AM,50.77500,6.08333
1,Aarhus,2,720.0,1/1/51 0:00,56.18333,10.23333
2,Abee,6,107000.0,1/1/52 0:00,54.21667,-113.00000
3,Acapulco,10,1914.0,1/1/76 0:00,16.88333,-99.90000
4,Achiras,370,780.0,1/1/02 0:00,-33.16667,-64.95000
5,Adhi Kot,379,4239.0,1/1/19 0:00,32.10000,71.80000
6,Adzhi-Bogdo (stone),390,910.0,1/1/49 0:00,44.83333,95.16667
7,Agen,392,30000.0,01/01/1814 12:00:00 AM,44.21667,0.61667
8,Aguada,398,1620.0,1/1/30 0:00,-31.60000,-65.23333
9,Aguila Blanca,417,1440.0,1/1/20 0:00,-30.86667,-64.55000
10,Aioun el Atrouss,423,1000.0,1/1/74 0:00,16.39806,-9.57028
11,AÌør,424,24000.0,1/1/25 0:00,19.08333,8.38333
13,Akaba,426,779.0,1/1/49 0:00,29.51667,35.05000
14,Akbarpur,427,1800.0,01/01/1838 12:00:00 AM,29.71667,77.95000
15,Akwanga,432,3000.0,1/1/59 0:00,8.91667,8.43333
16,Akyumak,433,50000.0,1/1/81 0:00,39.91667,42.81667
17,Al Rais,446,160.0,1/1/57 0:00,24.41667,39.51667
18,Al Zarnkh,447,700.0,1/1/01 0:00,13.66033,28.96000
19,Alais,448,6000.0,01/01/1806 12:00:00 AM,44.11667,4.08333
20,Albareto,453,2000.0,01/01/1766 12:00:00 AM,44.65000,11.01667
21,Alberta,454,625.0,1/1/49 0:00,2.00000,22.66667
22,Alby sur ChÌ©ran,458,252.0,1/1/02 0:00,45.82133,6.01533
23,Aldsworth,461,700.0,01/01/1835 12:00:00 AM,51.78333,-1.78333
24,Aleppo,462,3200.0,01/01/1873 12:00:00 AM,36.23333,37.13333
25,Alessandria,463,908.0,01/01/1860 12:00:00 AM,44.88333,8.75000
26,Alexandrovsky,465,9251.0,1/1/00 0:00,50.95000,31.81667
27,Alfianello,466,228000.0,01/01/1883 12:00:00 AM,45.26667,10.15000
28,Allegan,2276,32000.0,01/01/1899 12:00:00 AM,42.53333,-85.88333
29,Allende,2278,2000000.0,1/1/69 0:00,26.96667,-105.31667
30,Almahata Sitta,48915,3950.0,1/1/08 0:00,20.74575,32.41275
...,...,...,...,...,...,...
45683,Youanmi,30373,118400.0,1/1/17 0:00,-29.50000,118.75000
45684,Youndegin,30374,3800000.0,01/01/1884 12:00:00 AM,-32.10000,117.71667
45685,Youxi,55793,218000.0,1/1/06 0:00,26.06000,118.01000
45686,Ysleta,30375,140700.0,1/1/14 0:00,31.65000,-106.18333
45687,Yucca 015,57175,3.0,1/1/11 0:00,34.81970,-114.27610
45688,Yucca 016,57158,25.9,1/1/11 0:00,34.82658,-114.27763
45689,Yucca 017,57159,200.0,1/1/11 0:00,34.81923,-114.27735
45690,Yudoma,30376,7600.0,1/1/46 0:00,60.00000,140.00000
45691,Zacatecas (1792),30381,1000000.0,01/01/1792 12:00:00 AM,22.81667,-102.56667
45693,Zaffra,30383,3000.0,1/1/19 0:00,35.00000,-94.75000
45694,Zag (b),30385,300.0,1/1/99 0:00,27.33333,-9.33333
45695,Zagora,30387,50000.0,1/1/87 0:00,30.36667,-5.85000
45696,Zakâodzie,30390,8680.0,1/1/98 0:00,50.76278,22.86611
45697,Zapaliname,30392,85000.0,1/1/98 0:00,25.00944,-100.75000
45699,ZapotitlÌÁn Salinas,30394,27.7,1/1/84 0:00,18.33333,-97.50000
45701,Zegdou,30398,6700.0,1/1/98 0:00,29.75000,-4.50000
45702,Zelfana,31353,1058.0,1/1/02 0:00,32.15833,4.63333
45703,Zenda,30400,3700.0,1/1/55 0:00,42.51333,-88.48944
45704,Zerga,30402,76.0,1/1/73 0:00,20.25000,-12.68333
45705,Zerhamra,30403,630000.0,1/1/67 0:00,29.85861,-2.64500
45706,Zerkaly,31354,16000.0,1/1/56 0:00,52.13333,81.96667
45707,Zhaoping,54609,2000000.0,1/1/83 0:00,24.23333,111.18333
45708,Zhigansk,30405,900000.0,1/1/66 0:00,68.00000,128.30000
45709,Zhongxiang,30406,100000.0,1/1/81 0:00,31.20000,112.50000
45710,Zillah 001,31355,1475.0,1/1/90 0:00,29.03700,17.01850
45711,Zillah 002,31356,172.0,1/1/90 0:00,29.03700,17.01850
45712,Zinder,30409,46.0,1/1/99 0:00,13.78333,8.96667
45713,Zlin,30410,3.3,1/1/39 0:00,49.25000,17.66667
45714,Zubkovsky,31357,2167.0,1/1/03 0:00,49.78917,41.50460
45715,Zulu Queen,30414,200.0,1/1/76 0:00,33.98333,-115.68333

In [21]:
dropped = dropped[dropped.reclat.notnull()]
dropped = dropped[dropped.reclong.notnull()]
dropped

,name,id,mass (g),year,reclat,reclong
0,Aachen,1,21.0,01/01/1880 12:00:00 AM,50.77500,6.08333
1,Aarhus,2,720.0,1/1/51 0:00,56.18333,10.23333
2,Abee,6,107000.0,1/1/52 0:00,54.21667,-113.00000
3,Acapulco,10,1914.0,1/1/76 0:00,16.88333,-99.90000
4,Achiras,370,780.0,1/1/02 0:00,-33.16667,-64.95000
5,Adhi Kot,379,4239.0,1/1/19 0:00,32.10000,71.80000
6,Adzhi-Bogdo (stone),390,910.0,1/1/49 0:00,44.83333,95.16667
7,Agen,392,30000.0,01/01/1814 12:00:00 AM,44.21667,0.61667
8,Aguada,398,1620.0,1/1/30 0:00,-31.60000,-65.23333
9,Aguila Blanca,417,1440.0,1/1/20 0:00,-30.86667,-64.55000
10,Aioun el Atrouss,423,1000.0,1/1/74 0:00,16.39806,-9.57028
11,AÌør,424,24000.0,1/1/25 0:00,19.08333,8.38333
13,Akaba,426,779.0,1/1/49 0:00,29.51667,35.05000
14,Akbarpur,427,1800.0,01/01/1838 12:00:00 AM,29.71667,77.95000
15,Akwanga,432,3000.0,1/1/59 0:00,8.91667,8.43333
16,Akyumak,433,50000.0,1/1/81 0:00,39.91667,42.81667
17,Al Rais,446,160.0,1/1/57 0:00,24.41667,39.51667
18,Al Zarnkh,447,700.0,1/1/01 0:00,13.66033,28.96000
19,Alais,448,6000.0,01/01/1806 12:00:00 AM,44.11667,4.08333
20,Albareto,453,2000.0,01/01/1766 12:00:00 AM,44.65000,11.01667
21,Alberta,454,625.0,1/1/49 0:00,2.00000,22.66667
22,Alby sur ChÌ©ran,458,252.0,1/1/02 0:00,45.82133,6.01533
23,Aldsworth,461,700.0,01/01/1835 12:00:00 AM,51.78333,-1.78333
24,Aleppo,462,3200.0,01/01/1873 12:00:00 AM,36.23333,37.13333
25,Alessandria,463,908.0,01/01/1860 12:00:00 AM,44.88333,8.75000
26,Alexandrovsky,465,9251.0,1/1/00 0:00,50.95000,31.81667
27,Alfianello,466,228000.0,01/01/1883 12:00:00 AM,45.26667,10.15000
28,Allegan,2276,32000.0,01/01/1899 12:00:00 AM,42.53333,-85.88333
29,Allende,2278,2000000.0,1/1/69 0:00,26.96667,-105.31667
30,Almahata Sitta,48915,3950.0,1/1/08 0:00,20.74575,32.41275
...,...,...,...,...,...,...
45683,Youanmi,30373,118400.0,1/1/17 0:00,-29.50000,118.75000
45684,Youndegin,30374,3800000.0,01/01/1884 12:00:00 AM,-32.10000,117.71667
45685,Youxi,55793,218000.0,1/1/06 0:00,26.06000,118.01000
45686,Ysleta,30375,140700.0,1/1/14 0:00,31.65000,-106.18333
45687,Yucca 015,57175,3.0,1/1/11 0:00,34.81970,-114.27610
45688,Yucca 016,57158,25.9,1/1/11 0:00,34.82658,-114.27763
45689,Yucca 017,57159,200.0,1/1/11 0:00,34.81923,-114.27735
45690,Yudoma,30376,7600.0,1/1/46 0:00,60.00000,140.00000
45691,Zacatecas (1792),30381,1000000.0,01/01/1792 12:00:00 AM,22.81667,-102.56667
45693,Zaffra,30383,3000.0,1/1/19 0:00,35.00000,-94.75000
45694,Zag (b),30385,300.0,1/1/99 0:00,27.33333,-9.33333
45695,Zagora,30387,50000.0,1/1/87 0:00,30.36667,-5.85000
45696,Zakâodzie,30390,8680.0,1/1/98 0:00,50.76278,22.86611
45697,Zapaliname,30392,85000.0,1/1/98 0:00,25.00944,-100.75000
45699,ZapotitlÌÁn Salinas,30394,27.7,1/1/84 0:00,18.33333,-97.50000
45701,Zegdou,30398,6700.0,1/1/98 0:00,29.75000,-4.50000
45702,Zelfana,31353,1058.0,1/1/02 0:00,32.15833,4.63333
45703,Zenda,30400,3700.0,1/1/55 0:00,42.51333,-88.48944
45704,Zerga,30402,76.0,1/1/73 0:00,20.25000,-12.68333
45705,Zerhamra,30403,630000.0,1/1/67 0:00,29.85861,-2.64500
45706,Zerkaly,31354,16000.0,1/1/56 0:00,52.13333,81.96667
45707,Zhaoping,54609,2000000.0,1/1/83 0:00,24.23333,111.18333
45708,Zhigansk,30405,900000.0,1/1/66 0:00,68.00000,128.30000
45709,Zhongxiang,30406,100000.0,1/1/81 0:00,31.20000,112.50000
45710,Zillah 001,31355,1475.0,1/1/90 0:00,29.03700,17.01850
45711,Zillah 002,31356,172.0,1/1/90 0:00,29.03700,17.01850
45712,Zinder,30409,46.0,1/1/99 0:00,13.78333,8.96667
45713,Zlin,30410,3.3,1/1/39 0:00,49.25000,17.66667
45714,Zubkovsky,31357,2167.0,1/1/03 0:00,49.78917,41.50460
45715,Zulu Queen,30414,200.0,1/1/76 0:00,33.98333,-115.68333

In [34]:
dataset = dropped[0:100].drop(['id'], axis=1)
dataset

,name,mass (g),year,reclat,reclong
0,Aachen,21.0,01/01/1880 12:00:00 AM,50.77500,6.08333
1,Aarhus,720.0,1/1/51 0:00,56.18333,10.23333
2,Abee,107000.0,1/1/52 0:00,54.21667,-113.00000
3,Acapulco,1914.0,1/1/76 0:00,16.88333,-99.90000
4,Achiras,780.0,1/1/02 0:00,-33.16667,-64.95000
5,Adhi Kot,4239.0,1/1/19 0:00,32.10000,71.80000
6,Adzhi-Bogdo (stone),910.0,1/1/49 0:00,44.83333,95.16667
7,Agen,30000.0,01/01/1814 12:00:00 AM,44.21667,0.61667
8,Aguada,1620.0,1/1/30 0:00,-31.60000,-65.23333
9,Aguila Blanca,1440.0,1/1/20 0:00,-30.86667,-64.55000
10,Aioun el Atrouss,1000.0,1/1/74 0:00,16.39806,-9.57028
11,AÌør,24000.0,1/1/25 0:00,19.08333,8.38333
13,Akaba,779.0,1/1/49 0:00,29.51667,35.05000
14,Akbarpur,1800.0,01/01/1838 12:00:00 AM,29.71667,77.95000
15,Akwanga,3000.0,1/1/59 0:00,8.91667,8.43333
16,Akyumak,50000.0,1/1/81 0:00,39.91667,42.81667
17,Al Rais,160.0,1/1/57 0:00,24.41667,39.51667
18,Al Zarnkh,700.0,1/1/01 0:00,13.66033,28.96000
19,Alais,6000.0,01/01/1806 12:00:00 AM,44.11667,4.08333
20,Albareto,2000.0,01/01/1766 12:00:00 AM,44.65000,11.01667
21,Alberta,625.0,1/1/49 0:00,2.00000,22.66667
22,Alby sur ChÌ©ran,252.0,1/1/02 0:00,45.82133,6.01533
23,Aldsworth,700.0,01/01/1835 12:00:00 AM,51.78333,-1.78333
24,Aleppo,3200.0,01/01/1873 12:00:00 AM,36.23333,37.13333
25,Alessandria,908.0,01/01/1860 12:00:00 AM,44.88333,8.75000
26,Alexandrovsky,9251.0,1/1/00 0:00,50.95000,31.81667
27,Alfianello,228000.0,01/01/1883 12:00:00 AM,45.26667,10.15000
28,Allegan,32000.0,01/01/1899 12:00:00 AM,42.53333,-85.88333
29,Allende,2000000.0,1/1/69 0:00,26.96667,-105.31667
30,Almahata Sitta,3950.0,1/1/08 0:00,20.74575,32.41275
...,...,...,...,...,...
73,Banswal,14.0,1/1/13 0:00,30.40000,78.20000
74,Banten,629.0,1/1/33 0:00,-6.33333,106.00000
75,Barbotan,6400.0,01/01/1790 12:00:00 AM,43.95000,-0.05000
77,Barea,3200.0,01/01/1842 12:00:00 AM,42.38333,-2.50000
78,Barnaul,23.2,1/1/04 0:00,52.73333,84.08333
79,Barntrup,17.0,01/01/1886 12:00:00 AM,52.00000,9.10000
80,Baroti,4500.0,1/1/10 0:00,31.61667,76.80000
81,Barwell,44000.0,1/1/65 0:00,52.56528,-1.33972
82,Bassikounou,29560.0,1/1/06 0:00,15.78333,-5.90000
83,BaszkÌ_wka,15500.0,1/1/94 0:00,52.03333,20.93583
84,Bath,21000.0,01/01/1892 12:00:00 AM,45.41667,-98.31667
85,Bath Furnace,86000.0,1/1/02 0:00,38.25000,-83.75000
86,Battle Mountain,2900.0,1/1/12 0:00,40.66813,-117.18913
87,Bawku,1557.0,1/1/89 0:00,11.08333,-0.18333
88,Baxter,611.0,1/1/16 0:00,36.75000,-93.50000
89,Beardsley,16000.0,1/1/29 0:00,39.80000,-101.20000
90,Beaver Creek,14000.0,01/01/1893 12:00:00 AM,51.16667,-117.33333
91,Beddgelert,794.0,1/1/49 0:00,53.01667,-4.10000
92,Bells,375.0,1/1/61 0:00,33.60000,-96.46667
94,Benares (a),3700.0,01/01/1798 12:00:00 AM,25.36667,82.91667
95,Benguerir,25000.0,1/1/04 0:00,32.25000,-8.15000
96,Beni M'hira,19000.0,1/1/01 0:00,32.86667,10.80000
97,Benld,1770.5,1/1/38 0:00,39.08333,-89.15000
98,Benoni,3880.0,1/1/43 0:00,-26.16667,28.41667
99,Bensour,45000.0,1/1/02 0:00,30.00000,-7.00000
100,Benton,2840.0,1/1/49 0:00,45.95000,-67.55000
101,Berduc,270.0,1/1/08 0:00,-31.91000,-58.32833
102,BÌ©rÌ©ba,18000.0,1/1/24 0:00,11.65000,-3.65000
103,Berlanguillas,1440.0,01/01/1811 12:00:00 AM,41.68333,-3.80000
104,Berthoud,960.0,1/1/04 0:00,40.30583,-105.02325

## saving to json

In [42]:
# save to json
json_data = []
for row in dataset.iterrows():
    i, d = row
    json_data.append(d.tolist())
json_data

[['Aachen', 21.0, '01/01/1880 12:00:00 AM', 50.775, 6.08333],
 ['Aarhus', 720.0, '1/1/51 0:00', 56.183330000000005, 10.23333],
 ['Abee', 107000.0, '1/1/52 0:00', 54.21666999999999, -113.0],
 ['Acapulco', 1914.0, '1/1/76 0:00', 16.883329999999997, -99.9],
 ['Achiras', 780.0, '1/1/02 0:00', -33.16667, -64.95],
 ['Adhi Kot', 4239.0, '1/1/19 0:00', 32.1, 71.8],
 ['Adzhi-Bogdo (stone)', 910.0, '1/1/49 0:00', 44.83333, 95.16667],
 ['Agen', 30000.0, '01/01/1814 12:00:00 AM', 44.21667, 0.6166699999999999],
 ['Aguada', 1620.0, '1/1/30 0:00', -31.6, -65.23333000000001],
 ['Aguila Blanca', 1440.0, '1/1/20 0:00', -30.866670000000003, -64.55],
 ['Aioun el Atrouss', 1000.0, '1/1/74 0:00', 16.39806, -9.57028],
 ['AÌør', 24000.0, '1/1/25 0:00', 19.08333, 8.38333],
 ['Akaba', 779.0, '1/1/49 0:00', 29.51667, 35.05],
 ['Akbarpur', 1800.0, '01/01/1838 12:00:00 AM', 29.71667, 77.95],
 ['Akwanga', 3000.0, '1/1/59 0:00', 8.91667, 8.43333],
 ['Akyumak', 50000.0, '1/1/81 0:00', 39.91667, 42.81667],
 ['Al Rais', 160.0, '1/1/57 0:00', 24.41667, 39.51667],
 ['Al Zarnkh', 700.0, '1/1/01 0:00', 13.660329999999998, 28.96],
 ['Alais', 6000.0, '01/01/1806 12:00:00 AM', 44.11667, 4.08333],
 ['Albareto', 2000.0, '01/01/1766 12:00:00 AM', 44.65, 11.01667],
 ['Alberta', 625.0, '1/1/49 0:00', 2.0, 22.66667],
 ['Alby sur ChÌ©ran',
  252.0,
  '1/1/02 0:00',
  45.821329999999996,
  6.0153300000000005],
 ['Aldsworth', 700.0, '01/01/1835 12:00:00 AM', 51.78333, -1.7833299999999999],
 ['Aleppo', 3200.0, '01/01/1873 12:00:00 AM', 36.23333, 37.13333],
 ['Alessandria', 908.0, '01/01/1860 12:00:00 AM', 44.88333, 8.75],
 ['Alexandrovsky', 9251.0, '1/1/00 0:00', 50.95, 31.816670000000002],
 ['Alfianello', 228000.0, '01/01/1883 12:00:00 AM', 45.26667, 10.15],
 ['Allegan', 32000.0, '01/01/1899 12:00:00 AM', 42.53333, -85.88333],
 ['Allende', 2000000.0, '1/1/69 0:00', 26.96667, -105.31667],
 ['Almahata Sitta', 3950.0, '1/1/08 0:00', 20.74575, 32.41275],
 ["Alta'ameem", 6000.0, '1/1/77 0:00', 35.27333, 44.215559999999996],
 ['Ambapur Nagla', 6400.0, '01/01/1895 12:00:00 AM', 27.66667, 78.25],
 ['Andhara', 2700.0, '01/01/1880 12:00:00 AM', 26.58333, 85.56667],
 ['Andover', 3200.0, '01/01/1898 12:00:00 AM', 44.61667, -70.75],
 ['Andreevka', 600.0, '1/1/69 0:00', 48.7, 37.5],
 ['Andura', 17900.0, '1/1/39 0:00', 20.883329999999997, 76.86667],
 ['Angra dos Reis (stone)',
  1500.0,
  '01/01/1869 12:00:00 AM',
  -22.96667,
  -44.31667],
 ['Ankober', 6500.0, '1/1/42 0:00', 9.53333, 39.71667],
 ['Anlong', 2500.0, '1/1/71 0:00', 25.15, 105.18333],
 ['Aomori', 320.0, '1/1/84 0:00', 40.810559999999995, 140.78556],
 ['Appley Bridge', 15000.0, '1/1/14 0:00', 53.583330000000004, -2.71667],
 ['Apt', 3200.0, '01/01/1803 12:00:00 AM', 43.86667, 5.38333],
 ['Arbol Solo', 810.0, '1/1/54 0:00', -33.0, -66.0],
 ['Archie', 5070.0, '1/1/32 0:00', 38.5, -94.3],
 ['Arroyo Aguiar', 7450.0, '1/1/50 0:00', -31.41667, -60.666669999999996],
 ['Asco', 41.0, '01/01/1805 12:00:00 AM', 42.45, 9.03333],
 ['Ash Creek', 9500.0, '1/1/09 0:00', 31.805, -97.01],
 ['Ashdon', 1300.0, '1/1/23 0:00', 52.05, 0.3],
 ['Assisi', 2000.0, '01/01/1886 12:00:00 AM', 43.03333, 12.55],
 ['Atarra', 1280.0, '1/1/20 0:00', 25.254170000000002, 80.625],
 ['Atemajac', 94.2, '01/01/1896 12:00:00 AM', 20.066670000000002, -103.66667],
 ['Athens', 265.0, '1/1/33 0:00', 34.75, -87.0],
 ['Atoka', 1384.2, '1/1/45 0:00', 34.31667, -96.15],
 ['Aubres', 800.0, '01/01/1836 12:00:00 AM', 44.38333, 5.16667],
 ['Aumale', 50000.0, '01/01/1865 12:00:00 AM', 36.16667, 3.66667],
 ['Aumieres', 2000.0, '01/01/1842 12:00:00 AM', 44.33333, 3.23333],
 ['Ausson', 50000.0, '01/01/1858 12:00:00 AM', 43.08333, 0.58333],
 ['Avanhandava',
  9330.0,
  '1/1/52 0:00',
  -21.460279999999997,
  -49.950829999999996],
 ['Avce', 1230.0, '1/1/08 0:00', 46.0, 13.5],
 ['Avilez', 146.0, '01/01/1855 12:00:00 AM', 25.0, -103.5],
 ['Awere', 134.0, '1/1/68 0:00', 2.71667, 32.83333],
 ['Aztec', 2830.0, '1/1/38 0:00', 36.8, -108.0],
 ['Bachmut', 18000.0, '01/01/1814 12:00:00 AM', 48.6, 38.0],
 ['Bahjoi', 10322.0, '1/1/34 0:00', 28.48333, 78.5],
 ['Bald Mountain', 3700.0, '1/1/29 0:00', 35.96667, -82.48333000000001],
 ['Baldwyn', 345.0, '1/1/22 0:00', 34.5, -88.66667],
 ['Bali', 1000.0, '1/1/07 0:00', 5.38333, 16.383329999999997],
 ['Ban Rong Du', 16700.0, '1/1/93 0:00', 16.66667, 101.18333],
 ['Bandong', 11500.0, '01/01/1871 12:00:00 AM', -6.91667, 107.6],
 ['Bansur', 15000.0, '01/01/1892 12:00:00 AM', 27.7, 76.33333],
 ['Banswal', 14.0, '1/1/13 0:00', 30.4, 78.2],
 ['Banten', 629.0, '1/1/33 0:00', -6.33333, 106.0],
 ['Barbotan', 6400.0, '01/01/1790 12:00:00 AM', 43.95, -0.05],
 ['Barea', 3200.0, '01/01/1842 12:00:00 AM', 42.38333, -2.5],
 ['Barnaul', 23.2, '1/1/04 0:00', 52.73333, 84.08333],
 ['Barntrup', 17.0, '01/01/1886 12:00:00 AM', 52.0, 9.1],
 ['Baroti', 4500.0, '1/1/10 0:00', 31.616670000000003, 76.8],
 ['Barwell', 44000.0, '1/1/65 0:00', 52.56528, -1.33972],
 ['Bassikounou', 29560.0, '1/1/06 0:00', 15.78333, -5.9],
 ['BaszkÌ_wka', 15500.0, '1/1/94 0:00', 52.03333, 20.93583],
 ['Bath', 21000.0, '01/01/1892 12:00:00 AM', 45.41667, -98.31667],
 ['Bath Furnace', 86000.0, '1/1/02 0:00', 38.25, -83.75],
 ['Battle Mountain', 2900.0, '1/1/12 0:00', 40.66813, -117.18913],
 ['Bawku', 1557.0, '1/1/89 0:00', 11.08333, -0.18333],
 ['Baxter', 611.0, '1/1/16 0:00', 36.75, -93.5],
 ['Beardsley', 16000.0, '1/1/29 0:00', 39.8, -101.2],
 ['Beaver Creek', 14000.0, '01/01/1893 12:00:00 AM', 51.16667, -117.33333],
 ['Beddgelert', 794.0, '1/1/49 0:00', 53.01667, -4.1],
 ['Bells', 375.0, '1/1/61 0:00', 33.6, -96.46667],
 ['Benares (a)',
  3700.0,
  '01/01/1798 12:00:00 AM',
  25.366670000000003,
  82.91667],
 ['Benguerir', 25000.0, '1/1/04 0:00', 32.25, -8.15],
 ["Beni M'hira", 19000.0, '1/1/01 0:00', 32.86667, 10.8],
 ['Benld', 1770.5, '1/1/38 0:00', 39.08333, -89.15],
 ['Benoni', 3880.0, '1/1/43 0:00', -26.16667, 28.41667],
 ['Bensour', 45000.0, '1/1/02 0:00', 30.0, -7.0],
 ['Benton', 2840.0, '1/1/49 0:00', 45.95, -67.55],
 ['Berduc', 270.0, '1/1/08 0:00', -31.91, -58.32833],
 ['BÌ©rÌ©ba', 18000.0, '1/1/24 0:00', 11.65, -3.65],
 ['Berlanguillas', 1440.0, '01/01/1811 12:00:00 AM', 41.68333, -3.8],
 ['Berthoud', 960.0, '1/1/04 0:00', 40.30583, -105.02325]]

In [ ]:
headers = list(dataset)

In [50]:
final_json = {}

headers = ['name', 'mass', 'year', 'reclat', 'reclong'] #manually adjust header names
final_json["name"] = "Meteor" #manually name json

final_json["id"] = str(uuid.uuid4())
final_json["classType"] = "imported"

initsig = {}
for header in headers:
    initsig[header] = []

final_json["initializedSignals"] = initsig

In [36]:
#custom dict for signal info, manually change this too
signalDict = {
    'name' : {'displayName': 'Name', 'classType' : 'string', 'fieldName' : 'name'},
    'mass' : {'displayName': 'Mass (g)', 'classType' : 'number', 'fieldName' : 'mass'},
    'year' : {'displayName': 'Year', 'classType' : 'date', 'fieldName' : 'year'},
    'reclat' : {'displayName': 'Latitude', 'classType' : 'number', 'fieldName' : 'reclat'},
    'reclong' : {'displayName': 'Longitude', 'classType' : 'number', 'fieldName' : 'reclong'},
}

In [38]:
signals = []
i = 0
for key, value in signalDict.items():
    signal = {}
    signal["id"] = str(uuid.uuid4())
    signal["order"] = i
    signal["style"] = "imported"
    signal["settings"] = {}
    
    signal["displayName"] = signalDict[key]["displayName"]
    signal["classType"] = signalDict[key]["classType"]
    signal["fieldName"] = signalDict[key]["fieldName"]
    
    i += 1
    signals.append(signal)
signals

[{'classType': 'string',
  'displayName': 'Name',
  'fieldName': 'name',
  'id': 'f00d9abc-e498-4067-9a42-95e82475ef1a',
  'order': 0,
  'settings': {},
  'style': 'imported'},
 {'classType': 'date',
  'displayName': 'Year',
  'fieldName': 'year',
  'id': '146b96b5-4c6c-4499-8a72-331afa4cdc68',
  'order': 1,
  'settings': {},
  'style': 'imported'},
 {'classType': 'number',
  'displayName': 'Mass (g)',
  'fieldName': 'mass',
  'id': '14d8d644-7bf2-4f67-8fd7-9b7f23af9f85',
  'order': 2,
  'settings': {},
  'style': 'imported'},
 {'classType': 'number',
  'displayName': 'Longitude',
  'fieldName': 'reclong',
  'id': '7bd65ae4-02df-4b3e-9a71-1d34b9443cc1',
  'order': 3,
  'settings': {},
  'style': 'imported'},
 {'classType': 'number',
  'displayName': 'Latitude',
  'fieldName': 'reclat',
  'id': '7d7c6ef5-c48f-4faf-906a-c9e2e378a5c4',
  'order': 4,
  'settings': {},
  'style': 'imported'}]

In [51]:
final_json["signals"] = signals
final_json["data"] = json_data

final_json

{'classType': 'imported',
 'data': [['Aachen', 21.0, '01/01/1880 12:00:00 AM', 50.775, 6.08333],
  ['Aarhus', 720.0, '1/1/51 0:00', 56.183330000000005, 10.23333],
  ['Abee', 107000.0, '1/1/52 0:00', 54.21666999999999, -113.0],
  ['Acapulco', 1914.0, '1/1/76 0:00', 16.883329999999997, -99.9],
  ['Achiras', 780.0, '1/1/02 0:00', -33.16667, -64.95],
  ['Adhi Kot', 4239.0, '1/1/19 0:00', 32.1, 71.8],
  ['Adzhi-Bogdo (stone)', 910.0, '1/1/49 0:00', 44.83333, 95.16667],
  ['Agen', 30000.0, '01/01/1814 12:00:00 AM', 44.21667, 0.6166699999999999],
  ['Aguada', 1620.0, '1/1/30 0:00', -31.6, -65.23333000000001],
  ['Aguila Blanca', 1440.0, '1/1/20 0:00', -30.866670000000003, -64.55],
  ['Aioun el Atrouss', 1000.0, '1/1/74 0:00', 16.39806, -9.57028],
  ['AÌør', 24000.0, '1/1/25 0:00', 19.08333, 8.38333],
  ['Akaba', 779.0, '1/1/49 0:00', 29.51667, 35.05],
  ['Akbarpur', 1800.0, '01/01/1838 12:00:00 AM', 29.71667, 77.95],
  ['Akwanga', 3000.0, '1/1/59 0:00', 8.91667, 8.43333],
  ['Akyumak', 50000.0, '1/1/81 0:00', 39.91667, 42.81667],
  ['Al Rais', 160.0, '1/1/57 0:00', 24.41667, 39.51667],
  ['Al Zarnkh', 700.0, '1/1/01 0:00', 13.660329999999998, 28.96],
  ['Alais', 6000.0, '01/01/1806 12:00:00 AM', 44.11667, 4.08333],
  ['Albareto', 2000.0, '01/01/1766 12:00:00 AM', 44.65, 11.01667],
  ['Alberta', 625.0, '1/1/49 0:00', 2.0, 22.66667],
  ['Alby sur ChÌ©ran',
   252.0,
   '1/1/02 0:00',
   45.821329999999996,
   6.0153300000000005],
  ['Aldsworth',
   700.0,
   '01/01/1835 12:00:00 AM',
   51.78333,
   -1.7833299999999999],
  ['Aleppo', 3200.0, '01/01/1873 12:00:00 AM', 36.23333, 37.13333],
  ['Alessandria', 908.0, '01/01/1860 12:00:00 AM', 44.88333, 8.75],
  ['Alexandrovsky', 9251.0, '1/1/00 0:00', 50.95, 31.816670000000002],
  ['Alfianello', 228000.0, '01/01/1883 12:00:00 AM', 45.26667, 10.15],
  ['Allegan', 32000.0, '01/01/1899 12:00:00 AM', 42.53333, -85.88333],
  ['Allende', 2000000.0, '1/1/69 0:00', 26.96667, -105.31667],
  ['Almahata Sitta', 3950.0, '1/1/08 0:00', 20.74575, 32.41275],
  ["Alta'ameem", 6000.0, '1/1/77 0:00', 35.27333, 44.215559999999996],
  ['Ambapur Nagla', 6400.0, '01/01/1895 12:00:00 AM', 27.66667, 78.25],
  ['Andhara', 2700.0, '01/01/1880 12:00:00 AM', 26.58333, 85.56667],
  ['Andover', 3200.0, '01/01/1898 12:00:00 AM', 44.61667, -70.75],
  ['Andreevka', 600.0, '1/1/69 0:00', 48.7, 37.5],
  ['Andura', 17900.0, '1/1/39 0:00', 20.883329999999997, 76.86667],
  ['Angra dos Reis (stone)',
   1500.0,
   '01/01/1869 12:00:00 AM',
   -22.96667,
   -44.31667],
  ['Ankober', 6500.0, '1/1/42 0:00', 9.53333, 39.71667],
  ['Anlong', 2500.0, '1/1/71 0:00', 25.15, 105.18333],
  ['Aomori', 320.0, '1/1/84 0:00', 40.810559999999995, 140.78556],
  ['Appley Bridge', 15000.0, '1/1/14 0:00', 53.583330000000004, -2.71667],
  ['Apt', 3200.0, '01/01/1803 12:00:00 AM', 43.86667, 5.38333],
  ['Arbol Solo', 810.0, '1/1/54 0:00', -33.0, -66.0],
  ['Archie', 5070.0, '1/1/32 0:00', 38.5, -94.3],
  ['Arroyo Aguiar', 7450.0, '1/1/50 0:00', -31.41667, -60.666669999999996],
  ['Asco', 41.0, '01/01/1805 12:00:00 AM', 42.45, 9.03333],
  ['Ash Creek', 9500.0, '1/1/09 0:00', 31.805, -97.01],
  ['Ashdon', 1300.0, '1/1/23 0:00', 52.05, 0.3],
  ['Assisi', 2000.0, '01/01/1886 12:00:00 AM', 43.03333, 12.55],
  ['Atarra', 1280.0, '1/1/20 0:00', 25.254170000000002, 80.625],
  ['Atemajac', 94.2, '01/01/1896 12:00:00 AM', 20.066670000000002, -103.66667],
  ['Athens', 265.0, '1/1/33 0:00', 34.75, -87.0],
  ['Atoka', 1384.2, '1/1/45 0:00', 34.31667, -96.15],
  ['Aubres', 800.0, '01/01/1836 12:00:00 AM', 44.38333, 5.16667],
  ['Aumale', 50000.0, '01/01/1865 12:00:00 AM', 36.16667, 3.66667],
  ['Aumieres', 2000.0, '01/01/1842 12:00:00 AM', 44.33333, 3.23333],
  ['Ausson', 50000.0, '01/01/1858 12:00:00 AM', 43.08333, 0.58333],
  ['Avanhandava',
   9330.0,
   '1/1/52 0:00',
   -21.460279999999997,
   -49.950829999999996],
  ['Avce', 1230.0, '1/1/08 0:00', 46.0, 13.5],
  ['Avilez', 146.0, '01/01/1855 12:00:00 AM', 25.0, -103.5],
  ['Awere', 134.0, '1/1/68 0:00', 2.71667, 32.83333],
  ['Aztec', 2830.0, '1/1/38 0:00', 36.8, -108.0],
  ['Bachmut', 18000.0, '01/01/1814 12:00:00 AM', 48.6, 38.0],
  ['Bahjoi', 10322.0, '1/1/34 0:00', 28.48333, 78.5],
  ['Bald Mountain', 3700.0, '1/1/29 0:00', 35.96667, -82.48333000000001],
  ['Baldwyn', 345.0, '1/1/22 0:00', 34.5, -88.66667],
  ['Bali', 1000.0, '1/1/07 0:00', 5.38333, 16.383329999999997],
  ['Ban Rong Du', 16700.0, '1/1/93 0:00', 16.66667, 101.18333],
  ['Bandong', 11500.0, '01/01/1871 12:00:00 AM', -6.91667, 107.6],
  ['Bansur', 15000.0, '01/01/1892 12:00:00 AM', 27.7, 76.33333],
  ['Banswal', 14.0, '1/1/13 0:00', 30.4, 78.2],
  ['Banten', 629.0, '1/1/33 0:00', -6.33333, 106.0],
  ['Barbotan', 6400.0, '01/01/1790 12:00:00 AM', 43.95, -0.05],
  ['Barea', 3200.0, '01/01/1842 12:00:00 AM', 42.38333, -2.5],
  ['Barnaul', 23.2, '1/1/04 0:00', 52.73333, 84.08333],
  ['Barntrup', 17.0, '01/01/1886 12:00:00 AM', 52.0, 9.1],
  ['Baroti', 4500.0, '1/1/10 0:00', 31.616670000000003, 76.8],
  ['Barwell', 44000.0, '1/1/65 0:00', 52.56528, -1.33972],
  ['Bassikounou', 29560.0, '1/1/06 0:00', 15.78333, -5.9],
  ['BaszkÌ_wka', 15500.0, '1/1/94 0:00', 52.03333, 20.93583],
  ['Bath', 21000.0, '01/01/1892 12:00:00 AM', 45.41667, -98.31667],
  ['Bath Furnace', 86000.0, '1/1/02 0:00', 38.25, -83.75],
  ['Battle Mountain', 2900.0, '1/1/12 0:00', 40.66813, -117.18913],
  ['Bawku', 1557.0, '1/1/89 0:00', 11.08333, -0.18333],
  ['Baxter', 611.0, '1/1/16 0:00', 36.75, -93.5],
  ['Beardsley', 16000.0, '1/1/29 0:00', 39.8, -101.2],
  ['Beaver Creek', 14000.0, '01/01/1893 12:00:00 AM', 51.16667, -117.33333],
  ['Beddgelert', 794.0, '1/1/49 0:00', 53.01667, -4.1],
  ['Bells', 375.0, '1/1/61 0:00', 33.6, -96.46667],
  ['Benares (a)',
   3700.0,
   '01/01/1798 12:00:00 AM',
   25.366670000000003,
   82.91667],
  ['Benguerir', 25000.0, '1/1/04 0:00', 32.25, -8.15],
  ["Beni M'hira", 19000.0, '1/1/01 0:00', 32.86667, 10.8],
  ['Benld', 1770.5, '1/1/38 0:00', 39.08333, -89.15],
  ['Benoni', 3880.0, '1/1/43 0:00', -26.16667, 28.41667],
  ['Bensour', 45000.0, '1/1/02 0:00', 30.0, -7.0],
  ['Benton', 2840.0, '1/1/49 0:00', 45.95, -67.55],
  ['Berduc', 270.0, '1/1/08 0:00', -31.91, -58.32833],
  ['BÌ©rÌ©ba', 18000.0, '1/1/24 0:00', 11.65, -3.65],
  ['Berlanguillas', 1440.0, '01/01/1811 12:00:00 AM', 41.68333, -3.8],
  ['Berthoud', 960.0, '1/1/04 0:00', 40.30583, -105.02325]],
 'id': 'c082aa52-c20f-4842-aedc-114daa51e1d3',
 'initializedSignals': {'mass': [],
  'name': [],
  'reclat': [],
  'reclong': [],
  'year': []},
 'name': 'Meteor',
 'signals': [{'classType': 'string',
   'displayName': 'Name',
   'fieldName': 'name',
   'id': 'f00d9abc-e498-4067-9a42-95e82475ef1a',
   'order': 0,
   'settings': {},
   'style': 'imported'},
  {'classType': 'date',
   'displayName': 'Year',
   'fieldName': 'year',
   'id': '146b96b5-4c6c-4499-8a72-331afa4cdc68',
   'order': 1,
   'settings': {},
   'style': 'imported'},
  {'classType': 'number',
   'displayName': 'Mass (g)',
   'fieldName': 'mass',
   'id': '14d8d644-7bf2-4f67-8fd7-9b7f23af9f85',
   'order': 2,
   'settings': {},
   'style': 'imported'},
  {'classType': 'number',
   'displayName': 'Longitude',
   'fieldName': 'reclong',
   'id': '7bd65ae4-02df-4b3e-9a71-1d34b9443cc1',
   'order': 3,
   'settings': {},
   'style': 'imported'},
  {'classType': 'number',
   'displayName': 'Latitude',
   'fieldName': 'reclat',
   'id': '7d7c6ef5-c48f-4faf-906a-c9e2e378a5c4',
   'order': 4,
   'settings': {},
   'style': 'imported'}]}

In [52]:
with open ('meteor.json', 'w') as outfile:
    json.dump(final_json, outfile)